* {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header > .headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
}

.headerWrapper > a > img {
  max-width: 150px;
}

.headerWrapper > .navLinks > ul {
  display: flex;
  gap: 24px;
  font-size: 14px;
  font-weight: 400;
}

.headerWrapper > .navLinks > ul > li > a:hover {
  transition: all 0.2s;
}

.headerWrapper > .navLinks > ul > li > a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

#clearBtn {
  width: 100%;
}

.headerBox {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaSection > button {
  background-color: #eab308;
  border: none;
  padding: 14px 28px;
  border-radius: 4px;
  transition: 0.2s all;
}
.ctaSection > button > a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.ctaSection > button:hover {
  background-color: #ca8a04;
  cursor: pointer;
}

/* MAIN SECTION */
main {
  display: flex;
  height: 90vh;
}
.box {
  width: 50%;
  padding: 48px;
}

.settingsBox {
  background-color: #f5f5f4;
}
.sketchBox {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

/*  GRID ITEM */
.gridSizeBtns {
  width: 100%;
  display: flex;
  gap: 8px;
}
.gridSizeBtns > button {
  width: calc(100% / 5);
  padding: 12px 24px;
  color: #eab308;
  background-color: transparent;
  border: 1px solid #eab308;
}
.gridSizeBtns > button:hover {
  padding: 12px 24px;
  color: rgb(234, 179, 8);
  background-color: rgba(234, 179, 8, 0.15);
  cursor: pointer;
}

.gridSizeBtns > .current {
  border: 1px solid #eab308 !important;
  color: #fff;
  background-color: #eab308 !important;
  border: 1px solid;
}

/* footer */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.footer > .footerWrapper {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 50px;
}

/* MUSIC PLAYER */

.musicPlayer {
  position: fixed;
  top: 50%;
  right: 0;
}
.musicPlayer > button {
  background-color: #eab308;
  border: none;
}

.musicPlayer > button:hover {
  cursor: pointer;
}

.musicPlayer > button > img {
  width: 50px;
  transition: 0.2s all;
}

.musicPlayer > button > img:hover {
  width: 60px;
}

/* modal */

.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-wrapper {
  width: 700px;
  height: 300px;
  background: ghostwhite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.close-modal-btn {
  border: none;
  clip-path: circle(50% at 50% 50%);
  background-color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 5px;
  cursor: pointer;
}

.close-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  background-color: #ca8a04;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-content {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.hide {
  display: none;
}
